@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noticia Text", serif;
}

p {
  margin-bottom: 15px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* BUTTONS */

.btn {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font: 300 1rem "Noticia Text", serif;
  border-radius: 2rem;
  transition: background 500ms;
}

.btn-primary {
  border: 3px solid #656d4a;
  color: #656d4a;
  background: #fff;
}

.btn-primary:hover {
  border: 3px solid #fff;
  color: #fff;
  background: #a4ac86;
}

.btn-secondary {
  margin-top: auto;
  background-color: #a4ac86;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #656d4a;
}

a:hover {
  color: #656d4a;
}

/* BLOG HOME PAGE */

/* HEADER */
header {
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(164, 172, 134, 0.6),
      rgba(164, 152, 134, 0.6)
    ),
    url("./images/feature-large.jpg");
  background-size: cover;
  color: #fff;
  /* backdrop-filter: blur(15px); */
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.navbar {
  width: 30%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* shorthand font property doesn't work with inherit for font-family */
.heading {
  font: 600 4rem "Noticia Text", serif;
}

.heading span {
  font: 500 2rem "Dancing Script", cursive;
}
.heading,
.subheading {
  text-align: center;
}

/* HEADER */

/* MAIN */
.homepage,
.post-page {
  width: 80%;
  max-width: 1200px;
  margin: 35px auto;
}

header .heading {
  margin-top: 30vh;
}

/* CARDS SECTION */

.posts {
  display: grid;
  grid: repeat(3, 0.5fr) / repeat(3, 1fr);
  gap: 25px;
  margin: 15px;
}

.card-image {
  object-fit: cover;
  max-width: 100%;
  border-radius: 15px;
  flex-grow: 1;
}

.card {
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: rgb(0 0 0 / 30%) 0px 5px 8px 0px;
  transition: transform 500ms;
}

.card:nth-child(3) {
  grid-row: span 2;
}

.card:first-of-type {
  grid-column: span 3;
}

.time {
  font: 500 1.2rem "Dancing Script", cursive;
  color: #656d4a;
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #656d4a;
  color: #fff;
}
h4 {
  font: 400 1rem "Dancing Script", cursive;
  margin-bottom: 10px;
}
/* POST PAGE */

.post-page {
  display: grid;
  grid: repeat(2, 1fr) / 3fr 1fr;
  gap: 20px;
}

/* BLOG POST */
.blog-post {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  grid-row: span 2;
}

.blog-post img {
  width: 100%;
}

.blog-post p::first-letter {
  font-size: 1.5rem;
}

/* about me */
.about-me img {
  position: absolute;
  top: -60px;
  left: 15%;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 6px solid #a4ac86;
}

.about-me {
  margin: 60px 0 0;
  color: #a4ac86;
  padding: 150px 40px 40px;
  width: 300px;
  position: relative;
  align-self: center;
  border: 3px solid #a4ac86;
  border-radius: 15px;
}

.about-heading {
  padding-bottom: 35px;
}

@media only screen and (max-width: 768px) {
  .posts {
    display: flex;
    flex-direction: column;
  }

  .homepage {
    /* margin: 0; */
    width: 100%;
  }

  .card {
    width: 100%;
  }

  header {
    height: 50vh;
  }

  nav {
    flex-wrap: wrap;
    height: 40%;
  }

  .navbar {
    width: 100%;
  }

  nav h3 {
    display: none;
  }
  nav .btn {
    order: 2;
    /* margin: 0 auto; */
  }
  .btn {
    padding: 8px;
    font-size: 12px;
  }
}
