@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* 
colors:
#656d4a
#a4ac86
#c2c5aa
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noticia Text", serif;
}

a,
a:visited {
  text-decoration: none;
  text-align: center;
}

section {
  margin: 3rem;
}

p::selection {
  background-color: #c2c5aa;
}

/* BUTTONS */

.btn {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font: 300 1rem "Noticia Text", serif;
  border-radius: 2rem;
  transition: background 500ms;
}

.btn-primary {
  border: 3px solid #656d4a;
  color: #656d4a;
  background: #fff;
}

.btn-primary:hover {
  border: 3px solid #fff;
  color: #fff;
  background: #a4ac86;
}

.btn-secondary {
  margin-top: auto;
  background-color: #a4ac86;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #656d4a;
  color: #fff;
}

a:hover {
  color: #656d4a;
}

/* BLOG HOME PAGE */

/* HEADER */
header {
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(164, 172, 134, 0.6),
      rgba(164, 152, 134, 0.6)
    ),
    url("./images/feature-large.jpg");
  background-size: cover;
  color: #fff;
  /* backdrop-filter: blur(15px); */
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  color: #fff;
}
nav a {
  color: #fff;
}
ul {
  list-style: none;
}
nav ul {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* shorthand font property doesn't work with inherit for font-family */
.heading {
  font: 600 4rem "Noticia Text", serif;
}

.heading span {
  font: 500 2rem "Dancing Script", cursive;
}

/* HEADER */

header .heading,
header .subheading {
  text-align: center;
}

/* MAIN */

.homepage,
.post-page {
  width: 80%;
  max-width: 1200px;
  margin: 35px auto;
}

header .heading {
  margin-top: 30vh;
}

.posts {
  display: grid;
  grid: repeat(3, 0.5fr) / repeat(3, 1fr);
  gap: 25px;
}

/* CARDS*/

.card {
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: rgb(0 0 0 / 30%) 0px 5px 8px 0px;
}

.card h4 {
  font: 500 1.2rem "Dancing Script", cursive;
  color: #656d4a;
  text-align: right;
  margin-bottom: 2rem;
}

.card img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 15px;
  flex-grow: 1;
}

.card:nth-child(3) {
  grid-row: span 2;
}

.card:first-of-type {
  grid-column: span 3;
}

#latest {
  margin-bottom: 1rem;
}

/* POST PAGE */

.post-page {
  display: grid;
  grid: repeat(3, auto) / 2fr 1fr;
  gap: 30px;
}

/* BLOG POST */

.navbar-post-page {
  background-color: #c2c5aa;
}
.blog-post {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  grid-row: span 3;
}

.blog-post p {
  margin-bottom: 1rem;
}

.quote {
  font-style: italic;
  border-left: 4px solid #a4ac86;
  padding-left: 1rem;
  width: 70%;
  font-size: 1.3rem;
}

.blog-post h2 {
  font: 400 3rem "Dancing Script", cursive;
  text-align: right;
  color: #a4ac86;
}

.post-info {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-info p {
  margin: 0;
}

.post-info img {
  max-width: 32px;
  border-radius: 100%;
}

#back {
  padding-left: 2rem;
  color: #656d4a;
}

.blog-post img {
  width: 100%;
}

.blog-post h1 {
  color: #656d4a;
}

.fa-brands {
  margin: 0 3px;
}

/* about me */

.about-me img {
  width: 100%;
  object-fit: cover;
  box-shadow: rgb(0 0 0 / 30%) 0px 5px 8px 0px;
  border-radius: 10px;
}

figcaption {
  font: 300 1.3rem "Dancing Script", cursive;
}

/* contact */

.homepage .contact-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
aside#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about-me h2,
.contact-me h2,
.follow-me h2 {
  width: 100%;
  text-align: center;
  color: #a4ac86;
  padding-bottom: 1.5rem;
}

.about-me {
  max-width: 70%;
  margin: 0 auto;
}

.contact-me article {
  border-left: 8px solid #656d4a;
  border-right: 8px solid #656d4a;
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  color: #656d4a;
  border-radius: 15px;
}
.fa-solid {
  font-size: 2rem;
  margin-right: 1rem;
}

/* follow */

.social-media {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

ul .fa-brands {
  font-size: 2rem;
  color: #656d4a;
  margin-right: 1rem;
}
ul .fa-brands:hover {
  cursor: pointer;
  color: #c2c5aa;
}
/* FOOTER */

footer {
  text-align: center;
  padding: 10px;
  background-color: #c2c5aa;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  section {
    margin: 1rem;
  }

  .homepage {
    width: 100%;
  }
  .posts,
  .post-page,
  .contact-me {
    display: flex;
    flex-direction: column;
  }

  header .heading {
    font-size: 2rem;
    margin-top: 0;
  }

  .homepage .blog-post {
    width: 100%;
  }

  .blog-post h1 {
    font-size: 3rem;
  }
  .blog-post h2 {
    font-size: 2rem;
  }

  .contact-me p {
    font-size: 0.8rem;
  }
  .post-info {
    flex-wrap: wrap;
    height: 100px;
  }
  .card {
    width: 100%;
  }
  .contact-me article {
    max-width: 100%;
    width: 100%;
    margin: 1rem 0;
    display: flex;
  }
  header {
    height: 50vh;
  }

  nav {
    flex-wrap: wrap;
    height: 40%;
  }

  nav ul {
    width: 100%;
  }

  nav h3 {
    display: none;
  }
  nav .btn {
    order: 2;
  }
  .btn {
    padding: 8px;
    font-size: 12px;
    margin-top: 0.5rem;
  }
}
